.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  .user-table th,
  .user-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f3f3f3;
  }
  .user-table th:first-child,
.user-table td:first-child {
  position: sticky;
  left: 0;
  background-color: #fff; /* fundo para sobrepor corretamente */
  z-index: 2; /* garantir que fique acima das outras células */
  border-right: 1px solid #ddd;
}
  
  /* Responsividade */
@media (max-width: 768px) {
  .user-table {
    font-size: 17px;
  }

  .user-table th,
  .user-table td {
    padding: 0.3rem;
  }
}